
<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Cliente Detalhado</h2>

	<li layout:fragment="caminho">Cliente</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button role="button" data-toggle="modal"
							style="background-color: transparent; border: none; cursor: pointer; overflow: hidden; outline: none;"
							data-target="#novoCliente" title="Novo Cliente">
							<i class="material-icons" style="font-size: 52px; color: white"
								onmouseover="iconOnOver(this)" onmouseout="iconNormal(this)">
								group_add </i>
						</button>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/modal-novo-cliente :: modalNovoCliente"></div>
		<div th:if="${salvou == true} " id="clienteSalvo"></div>
		<div th:if="${editou == true} " id="clienteEditado"></div>
		<div th:if="${instaJaExiste == true} " id="instaIgual"></div>
		<div th:if="${creditoAdicionado == true} " id="creditoAdicionado"></div>
		<div th:if="${creditoRemovido == true} " id="creditoRemovido"></div>

		<section>
			<div class="col-lg-12">
				<div class="block">
					<div class="title">
						<strong>Remover Crédito do Cliente!</strong>
					</div>
					<div class="block-body">
						<form class="form-inline" th:action="@{/cliente/remover-credito}"
							th:object="${cliente}" method="POST">
							<div class="form-group">
								<input id="inlineFormInput" style="margin-right: 0px"
									th:field="*{creditoCliente}" type="text"
									placeholder="Valor Pago" class="form-control">
							</div>
							<div class="form-group">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control"
											style="margin-left: 20px" id="typeaheadIdInstaNomeCliente"
											placeholder="Insira o Cliente" th:field="*{id}">
										<div class="input-group-append">
											<button type="submit" class="btn btn-danger">Remover</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="block">
					<div class="title">
						<strong>Todos</strong>
					</div>
					<div class="block-body">
						<div class="table-responsive">
							<table id="datatableCliente" style="width: 100%;" class="table">
								<thead>
									<tr>
										<th></th>
										<th>Código</th>
										<th>Nome</th>
										<th>Telefone</th>
										<th>Instagram</th>
										<th>Status/Saldo</th>
										<th>Data Cadastro</th>
										<th style="display: none"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="c :${listaCliente}">
										<td><div th:if="${c.creditoCliente > 0 && c.creditoCliente != null}">
												<i class="material-icons"
													style="align-self: center; color: #429244"
													data-toggle="popover" title="Crédito Disponivel"
													data-placement="left" data-container="body"
													th:attr="data-content=${#strings.concat('R$: ', c.creditoCliente)}"
													>
													local_atm </i>
											</div>
											<div th:if="${c.creditoCliente < 0 && c.creditoCliente != null}">
												<i class="material-icons"
													style="align-self: center; color: #bb414d"
													data-toggle="popover" title="Crédito Disponivel"
													data-placement="left" data-container="body"
													th:attr="data-content=${#strings.concat('R$: ', c.creditoCliente)}"
													>
													local_atm </i>
											</div>
											</td>
										<td th:text="${c.id}">1<a></a></td>
										<td th:text="${c.nome}">Gabriel Silva</td>
										<td><a th:text="${c.telefone}"
											th:attr="href=${#strings.toLowerCase(#strings.replace(#strings.replace(#strings.replace
											(#strings.replace('https://wa.me/55' + c.telefone, '(',''), ')',''),'-',''),' ',''))}"
											target="_blank"></a></td>
										<td th:text="${c.instagram}">gasil96</td>
										<td th:text="${c.statusCliente}">ATIVO</td>
										<td
											th:text="${#temporals.format(c.dataCadastro, 'dd-MM-yyyy')}">11/11/2019</td>
										<td><a th:href="@{/cliente/editar/{id} (id=${c.id})}"
											role="button"> <span title="EDITAR" aria-hidden="true"
												style="color: grey;"><i class="material-icons">style</i></span>
										</a> <a th:href="@{/agendamento/agendar/{id} (id=${c.id})}"
											role="button"> <span title="AGENDAR" style="color: white"
												><i
													class="material-icons">note_add</i></span>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="stats-3-block block d-flex">
							<div class="stats-3">
								<strong class="d-block" th:text="${totalClientes}">745</strong><span
									class="d-block">Total cadastrados</span>
							</div>
							<div class="stats-3 d-flex justify-content-between text-center">
								<div class="item">
									<span class="d-block span-sm">Ultimo Mês</span>
									<div class="line"></div>
									<small style="font-size: 28px"
										th:text="${totalCadastroMesAnterio}">+246</small>
								</div>
								<div class="item">
									<span class="d-block span-sm">Mês Atual</span>
									<div class="line"></div>
									<small style="font-size: 28px"
										th:text="${totalCadastroMesAtual}">+416</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="stats-2-block block d-flex">
					<div class="stats-2 d-flex">
						<div class="stats-2-arrow low">
							<i class="fa fa-caret-up" style="color: green"></i>
						</div>
						<div class="stats-2-content">
							<strong class="d-block" th:text="${totalAtivos}">5.657</strong><span
								class="d-block">ATIVOS</span>
						</div>
					</div>
					<div class="stats-2 d-flex">
						<div class="stats-2-arrow height">
							<i class="fa fa-caret-down" style="color: yellow"></i>
						</div>
						<div class="stats-2-content">
							<strong class="d-block" th:text="${totalInativos}">3.1459</strong><span
								class="d-block">INATIVOS</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script type="text/javascript" layout:fragment="script">
		$(function() {
			$('#horarioAgendamento').datetimepicker({
				format : 'DD-MM-YYYY HH:mm',
				autoclose : true,
				locale : 'pt-BR',
				minDate : new Date()
			});
		});

		$(document)
				.ready(
						function() {
							$('#datatableCliente')
									.DataTable(
											{
												dom : 'lBfrtip',
// 												order : [],
												"deferRender": true,
												buttons : [
														{
															extend : 'excel',
															text : 'Planilha',
															title : 'SpaceTattooStudio Clientes',
															className : 'btn btn-primary btn-sm',
															exportOptions : {
																columns : ':visible'
															},
														},
														{
															extend : 'print',
															className : 'btn btn-primary btn-sm',
															text : 'Impressão',
															title : 'SpaceTattooStudio',
															exportOptions : {
																columns : ':visible'
															},
														},
														{
															extend : 'pdf',
															className : 'btn btn-primary btn-sm',
															title : 'SpaceTattooStudio',
															exportOptions : {
																columns : ':visible'
															},
														},
														{
															extend : 'csv',
															text : "WhatsApp",
															className : 'btn btn-primary btn-sm',
															title : 'SpaceTattooStudio WhatsApp',
															exportOptions : {
																columns :[3,2]
															},
														},
														{
															extend : 'excel',
															text : "Instagram",
															title : 'SpaceTattooStudio @Instagram',
															className : 'btn btn-primary btn-sm',
															exportOptions : {
																columns : '4'
															},
														} ],
												language : {
													"url" : "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
												}
											});
						});

		$(document).ready(function() {
			$('#clienteSalvo').show(function() {
				Messenger().post({
					message : 'Cliente salvo com sucesso!',
					type : 'success'
				});
			});
		});

		$("input[name='creditoCliente']").TouchSpin({
			min : 0,
			max : 1000,
			boostat : 5,
			maxboostedstep : 10,
			prefix : 'R$',
		});

		$(document).ready(function() {
			$('#clienteEditado').show(function() {
				Messenger().post({
					message : 'Alteração realizada com sucesso!',
					type : 'info'
				});
			});
		});
		$(document).ready(function() {
			$('#creditoAdicionado').show(function() {
				Messenger().post({
					message : 'Crédito ADICIONADO!',
					type : 'success'
				});
			});
		});
		$(document).ready(function() {
			$('#creditoRemovido').show(function() {
				Messenger().post({
					message : 'Crédito REMOVIDO!',
					type : 'info'
				});
			});
		});

		$(document)
				.ready(
						function() {
							$('#instaIgual')
									.show(
											function() {
												Messenger()
														.post(
																{
																	message : 'Não foi possivel realizar cadastro, pois o INSTAGRAM informado ja existe no sistema!',
																	type : 'error'
																});
											});
						});
	</script>
</body>
</html>
