
<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Cliente Detalhado</h2>

	<li layout:fragment="caminho">Cliente</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">

								<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#novoCliente"><i class="icon icon-user"></i> Novo Cliente</button>
								<br><br>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/modal-novo-cliente :: modalNovoCliente"></div>

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="block">
							<div class="title">
								<strong>Todos</strong>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>Telefone</th>
											<th>Instagram</th>
											<th>N° Agendamentos</th>
											<th>Status</th>
											<th>Data Cadastro</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="c :${listaCliente}">
											<th scope="row" th:text="${c.id}">1</th>
											<td th:text="${c.nome}" >Breno</td>
											<td th:text="${c.telefone}">+55 91 989568730</td>
											<td th:text="${c.instagram}">@brenomarques__</td>
											<td th:text="${c.numeroServicos}">2</td>
											<td th:text="${c.statusCliente}">Ativo</td>
											<td th:text="${#temporals.format(c.dataCadastro, 'dd-MM-yyyy')}">11-11-1996</td>
											<td colspan="2">
												<a th:href="@{/cliente/editar/{id} (id=${c.id})}" role="button" >
	                                				<span title="Editar" aria-hidden="true">editar</span>
	                           					</a>	
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="pie-chart chart block">
							<div class="title">
								<strong>Pie Chart Example</strong>
							</div>
							<div class="pie-chart chart margin-bottom-sm">
								<canvas id="pieChartCustom1"></canvas>
							</div>
						</div>
					</div>

					<div class="col-lg-8">
						<div class="bar-chart block chart">
							<div class="title">
								<strong>Bar Chart Example</strong>
							</div>
							<div class="bar-chart chart">
								<canvas id="clienteDetalhamentoGrafico"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
	<script type="text/javascript" layout:fragment="script">
	
	var BARCHARTEXMPLE    = $('#clienteDetalhamentoGrafico');
    var barChartExample = new Chart(BARCHARTEXMPLE, {
        type: 'bar',
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: 'transparent'
                    }
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: 'transparent'
                    }
                }]
            },
        },
        data: {
            labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho"],
            datasets: [
                {
                    label: "Barbearia",
                    backgroundColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    hoverBackgroundColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    borderColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    borderWidth: 0.5,
                    data: [65, 59, 80, 81, 56, 55, 40],
                },
                {
                    label: "Tatuagem",
                    backgroundColor: [
                        "rgba( 0, 95, 80, 0,9 )",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    hoverBackgroundColor: [
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    borderColor: [
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    borderWidth: 0.5,
                    data: [35, 40, 60, 47, 88, 27, 30],
                },
                {
                    label: "Piecing",
                    backgroundColor: [
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    hoverBackgroundColor: [
                    	"#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    borderColor: [
                    	"#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    borderWidth: 0.5,
                    data: [35, 40, 60, 47, 88, 27, 30],
                }
            ]
        }
    });
	
	</script>
	
	</body>
</html>
