 	
<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Cliente Detalhado</h2>

	<li layout:fragment="caminho">Cliente</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button role="button" data-toggle="modal" style="background-color: transparent; border: none; cursor: pointer; overflow: hidden; outline: none;"
							data-target="#novoCliente"  
							title="Novo Cliente"><i class="material-icons" 
							style="font-size: 52px; color: white" onmouseover="iconOnOver(this)" onmouseout="iconNormal(this)"> group_add </i> 
						</button>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/modal-novo-cliente :: modalNovoCliente"></div>
		<div th:if="${salvou == true} " id="clienteSalvo"></div>
		<div th:if="${editou == true} " id="clienteEditado"></div>
		<div th:if="${instaJaExiste == true} " id="instaIgual"></div>
		
		<section class="no-padding-top">
          <div class="container-fluid">
            <div class="block">
              <div class="title"><strong>Todos</strong></div>
              <div class="block-body">
                <div class="table-responsive">
                  <table id="datatableCliente" style="width: 100%;" class="table">
					<thead>
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Telefone</th>
						    <th>Instagram</th>
							<th>Status</th>
							<th>Data Cadastro</th>
							<th style="display: none"></th>
						</tr>
						</thead>
                    <tbody>
                      <tr th:each="c :${listaCliente}">
                        <td th:text="${c.id}">1<a ></a></td>
                        <td th:text="${c.nome}">Gabriel Silva</td>
                        <td th:text="${c.telefone}">(91) 9 9552-2735</td>
                        <td th:text="${c.instagram}">gasil96</td>
                        <td th:text="${c.statusCliente}">ATIVO</td>
                        <td th:text="${#temporals.format(c.dataCadastro, 'dd-MM-yyyy')}">11/11/2019</td>
                        <td>
							<a th:href="@{/cliente/editar/{id} (id=${c.id})}" role="button" >
	                         <span title="EDITAR" aria-hidden="true" style="color: grey;"><i class="material-icons">style</i></span>
	                        </a>
	                        <a th:href="@{/agendamento/agendar/{id} (id=${c.id})}" role="button" >
	                            <span title="AGENDAR" style="color: white" onmouseover="iconOnOver(this)" onmouseout="iconNormal(this)"><i class="material-icons" >note_add</i></span>
	                    	</a>
						</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="stats-3-block block d-flex">
							<div class="stats-3">
								<strong class="d-block" th:text="${totalClientes}">745</strong><span class="d-block">Total
									cadastrados</span>
							</div>
							<div class="stats-3 d-flex justify-content-between text-center">
								<div class="item">
									<span class="d-block span-sm">Ultimo Mês</span>
									<div class="line"></div>
									<small style="font-size: 28px" th:text="${totalCadastroMesAnterio}">+246</small>
								</div>
								<div class="item">
										<span class="d-block span-sm">Mês Atual</span>
									<div class="line"></div>
									<small style="font-size: 28px" th:text="${totalCadastroMesAtual}">+416</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="stats-2-block block d-flex">
                  <div class="stats-2 d-flex">
                    <div class="stats-2-arrow low"><i class="fa fa-caret-up" style="color: green"></i></div>
                    <div class="stats-2-content"><strong class="d-block" th:text="${totalAtivos}">5.657</strong><span class="d-block">ATIVOS</span>
                      <div class="progress progress-template progress-small">
			
                        <div role="progressbar" style="width: 60%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-3"></div>
                      </div>
                    </div>
                  </div>
                  <div class="stats-2 d-flex">
                    <div class="stats-2-arrow height"><i class="fa fa-caret-down" style="color: yellow"></i></div>
                    <div class="stats-2-content"><strong class="d-block" th:text="${totalInativos}">3.1459</strong><span class="d-block">INATIVOS</span>
                      <div class="progress progress-template progress-small">
                        <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="stats-2 d-flex">
                    <div class="stats-2-arrow height"><i class="fa fa-caret-down" style="color: red"></i></div>
                    <div class="stats-2-content"><strong class="d-block" th:text="${totalInadim}">3.1459</strong><span class="d-block">INADIMPLENTES</span>
                      <div class="progress progress-template progress-small">
                        <div role="progressbar" style="width: 35%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template progress-bar-small dashbg-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
			</div>
		</section>
	</div>
	
	<script type="text/javascript" layout:fragment="script">
	
		$(function () {
	        $('#horarioAgendamento').datetimepicker({
	      	  format: 'DD-MM-YYYY HH:mm', 
	      	  autoclose: true,
	      	  locale: 'pt-BR',
	          minDate: new Date()
	        });
	    });
		
		$(document).ready(function() {
		    $('#datatableCliente').DataTable( {
		        dom: 'lBfrtip',
		        order: [],	   
		        buttons: [{
		           extend: 'excel',
		           text: 'Planilha',
		           title: 'SpaceTattooStudio Clientes',
		           className: 'btn btn-primary btn-sm',
		           exportOptions: {
	                    columns: ':visible'
	                },
		        },
	                {
		        	extend:'print',
		        	className: 'btn btn-primary btn-sm',
		        	text: 'Impressão',
		        	title: 'SpaceTattooStudio',
		        	exportOptions: {
	                    columns: ':visible'
	                },
	                },
                {
		        	extend:'pdf',
		        	className: 'btn btn-primary btn-sm',
		        	title: 'SpaceTattooStudio',
		        	exportOptions: {
	                    columns: ':visible'
	                },
	                },
	                {
			        	extend:'excel',
			        	text:"WhatsApp",
			        	className: 'btn btn-primary btn-sm',
			        	 title: 'SpaceTattooStudio WhatsApp',
			        	exportOptions: {
		                    columns: '2'
		                },
		                },
		                {
		                	extend:'excel',
				        	text:"Instagram",
				        	title: 'SpaceTattooStudio @Instagram',
				        	className: 'btn btn-primary btn-sm',
				        	exportOptions: {
			                    columns: '3'
			                },
			                }
		        ], 
		        language: {
		            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
		        }
		    } );
		} );
	
		$(document).ready(function() {
			$('#clienteSalvo').show(function() {
				Messenger().post({
					message : 'Cliente salvo com sucesso!',
					type : 'success'
				});
			});
		});
		
		$(document).ready(function() {
			$('#clienteEditado').show(function() {
				Messenger().post({
					message : 'Alteração realizada com sucesso!',
					type : 'info'
				});
			});
		});
		$(document).ready(function() {
			$('#instaIgual').show(function() {
				Messenger().post({
					message : 'Não foi possivel realizar cadastro, pois o INSTAGRAM informado ja existe no sistema!',
					type : 'error'
				});
			});
		});
	</script>
</body>
</html>
