<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Detalhes Financeiros</h2>

	<li layout:fragment="caminho">Financeiro</li>

	<div layout:fragment="corpo">

		<section>
			<div class="block-body">
				<div id="fechar-caixa" th:if="${caixaAberto}">
					<form class="form-inline" th:action="@{/caixa/pre-fechar-caixa}">
						<div class="form-group">
							<input type="submit" value="FECHAR CAIXA" class="btn btn-danger">
						</div>
					</form>
				</div>
			</div>
		</section>
		<section>
			<div class="container-fluid"  id="corpo-financeiro" th:unless="${caixaAberto}">
				<div class="row">
						<div class="col-lg-12">
							<div class="bar-chart block chart">
								<div class="title">
									<strong>Arrecadamento Semestral</strong>
								</div>
								<div class="bar-chart chart">
									<canvas id="barChartCustom3"></canvas>
								</div>
							</div>
						</div>
					<div class="col-lg-6">
						<div class="pie-chart chart block">
							<div class="title">
								<strong>Gastos Mês Atual</strong>
							</div>
							<div class="pie-chart chart margin-bottom-sm">
								<canvas id="pieChartCustom1"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="doughnut-chart chart block">
							<div class="title">
								<strong>Pie Chart Example</strong>
							</div>
							<div class="doughnut-chart chart margin-bottom-sm">
								<canvas id="doughnutChartCustom1"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>