<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Promoções e Créditos</h2>

	<li layout:fragment="caminho">Promoções</li>

	<div layout:fragment="corpo">
		<div th:if="${adicionouCred == true} " id="adicionouCred"></div>
		<div th:if="${removeuCred == true} " id="removeuCred"></div>
		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="block">
							<div class="title">
								<strong class="d-block" style="color: #429244">Adicionar
									Crédito</strong> <span class="d-block">Limite de Crédito é de
									R$10.000,00 para valores maiores refaça a opereção e insira o
									valor a ser somado</span>
							</div>
							<div class="block-body">
								<form th:action="@{/promocao/add-credito}" method="POST"
									th:object="${cliente}">
									<div class="form-group">
										<label class="form-control-label">Valor</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text form-control-sm">R$</span>
											</div>
											<input id="creditoAdicionar" type="number"
												placeholder="valor" required="required"
												class="form-control form-control-sm" min="0" max="10000"
												th:field="*{creditoCliente}">
										</div>
									</div>
									<div class="form-group">
										<label>Código do cliente</label> <input type="text"
											th:field="*{id}" class="form-control form-control-sm"
											id="typeaheadIdInstaNomeCliente" placeholder="">
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-sm">Adicionar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block">
							<div class="title">
								<strong class="d-block" style="color: #dc3545">Consumir
									Crédito</strong> <span class="d-block">Não há limítes para
									consumir crédito do cliente, podendo até deixa-lo com saldo
									negativo</span>
							</div>
							<div class="block-body">
								<form th:action="@{/promocao/consumir-credito}" method="POST"
									th:object="${cliente}">
									<div class="form-group">
										<label class="form-control-label">Valor</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text form-control-sm">R$</span>
											</div>
											<input id="consumirCredito" type="number"
												th:field="*{creditoCliente}" placeholder="valor"
												required="required" class="form-control form-control-sm"
												min="0">
										</div>
									</div>
									<div class="form-group">
										<label>Código do cliente</label> <input type="text"
											th:field="*{id}" class="form-control form-control-sm"
											id="typeaheadIdInstaNomeCliente2" placeholder="">
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-danger btn-sm">Consumir</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="page-header">
			<div class="container-fluid">
				<h2 class="h5 no-margin-bottom">Top 10 - Clientes</h2>
			</div>
		</div>
		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="messages-block block">
							<div class="title">
								<strong>Tattoo</strong>
							</div>
							<div class="messages" th:each="tt :${topTattoo}">
								<a class="content"> <strong class="d-block"
									th:text="${tt.nome}">Nadia Halsey</strong> <span
									class="d-block" th:if="${tt.creditoCliente}">Crédito <strong>R$
											<strong th:text="${tt.creditoCliente}">20000.00</strong>
									</strong></span> <span class="d-block">Gasto Anual: <strong>R$<strong
											th:text="${tt.totalGastoAnual}">20000.00</strong></strong></span> <small
									class="date d-block"
									th:text="${'Cliente desde:	'+#temporals.format(tt.dataCadastro, ' dd/MM/yyyy')}">9:30am</small>
								</a>
								<div class="pull-right">
									<a th:href="@{/promocao/email/{id} (id=${tt.id})}"
										th:if="${tt.email != null && tt.email != ''}"><i
										class="material-icons visualizar">email</i> </a> <a
										th:href="@{/promocao/whatsapp/{id} (id=${tt.id})}"
										title="enviar whats" target="_blank"
										th:if="${tt.telefone != null && tt.telefone != ''}"><i
										class="material-icons visualizar">mobile_screen_share</i></a>
								</div>
								<hr class="my-4">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="messages-block block">
							<div class="title">
								<strong>Tattoo</strong>
							</div>
							<div class="messages" th:each="tp :${topPiercing}">
								<a class="content"> <strong class="d-block"
									th:text="${tp.nome}">Nadia Halsey</strong> <span
									class="d-block" th:if="${tp.creditoCliente}">Crédito <strong>R$
											<strong th:text="${tp.creditoCliente}">20000.00</strong>
									</strong></span> <span class="d-block">Gasto Anual: <strong>R$<strong
											th:text="${tp.totalGastoAnual}">20000.00</strong></strong></span> <small
									class="date d-block"
									th:text="${'Cliente desde:	'+#temporals.format(tp.dataCadastro, ' dd/MM/yyyy')}">9:30am</small>
								</a>
								<div class="pull-right">
									<a th:href="@{/promocao/email/{id} (id=${tp.id})}"
										th:if="${tp.email != null && tp.email != ''}"><i
										class="material-icons visualizar">email</i> </a> <a
										th:href="@{/promocao/whatsapp/{id} (id=${tp.id})}"
										title="enviar whats" target="_blank"
										th:if="${tp.telefone != null && tp.telefone != ''}"><i
										class="material-icons visualizar">mobile_screen_share</i></a>
								</div>
								<hr class="my-4">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" layout:fragment="script">
		$(document).ready(function() {

		});
	</script>
</body>
</html>