<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Agendamento Detalhado</h2>

	<li layout:fragment="caminho">Agendamento</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button role="button" data-toggle="modal" data-target="#novoAgendamento" 
						style="background-color: transparent; border: none; cursor: pointer; overflow: hidden; outline: none;">
						<i class="material-icons" style="font-size: 44px; color: white;" onmouseover="iconOnOver(this)" onmouseout="iconNormal(this)">note_add</i></button>
					</div>
				</div>
			</div>
		</section>
				<div th:if="${salvou == true} " id="agendamentoSalvou"></div>
				<div th:if="${codigoInvalido == true} " id="agendamentoCodigoInvalido"></div>
<!-- 				<div th:if="${salvou == true} " id="clienteSalvo"></div> -->
		
		
		<section class="no-padding-top">
          <div class="container-fluid">
            <div class="block">
              <div class="title"><strong>Todos</strong></div>
              <div class="block-body">
                <div class="table-responsive">
                  <table id="datatableAgendamento" style="width: 100%;" class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Tipo</th>
							<th>Cliente</th>
							<th>Inicio</th>
							<th>Término</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead> 
                    <tbody>
						<tr th:each="a : ${listaServico}" >
							<th scope="row" th:text="${a.id}" ><a class="text-muted">1</a></th>
							<td th:text="${a.tipoServico}" >Tatuagem</td>
							<td th:text="${a.cliente.nome}">Breno </td>
							<td th:text="${#temporals.format(a.horarioAgendamento, 'dd-MM-yyyy  HH:mm')}">9:00 AM</td>
							<td th:text="${#temporals.format(a.horarioConclusaoAgendamento, 'dd-MM-yyyy  HH:mm')}">2</td>
							<td th:text="${a.statusAgendamento}">Ativo</td>
							<td colspan="2">
							<a th:href="@{/agendamento/editar/{id} (id=${a.id})}" role="button">
	                          <span title="EDITAR" aria-hidden="true" style="color: grey;"><i class="material-icons">style</i></span>
	                        </a>	
	                        <a th:href="@{/agendamento/reabrir/{id} (id=${a.id})}" role="button">
	                          <span title="REABRIR" aria-hidden="true" style="color: yellow;" th:unless="${a.horarioConclusaoAgendamento == null}"><i class="material-icons">timer</i></span>
	                        </a>
	                        <a th:href="@{/agendamento/encerrar/{id} (id=${a.id})}" role="button">
	                          <span title="ENCERRAR" aria-hidden="true" 	style="color: red;" th:if="${a.horarioConclusaoAgendamento == null}"><i class="material-icons md-48">timer_off</i></span>
	                        </a>
							</td>
						</tr>
					</tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="pie-chart chart block">
							<div class="title">
								<strong>Nº Agendamentos Mês Atual</strong>
							</div>
							<div class="pie-chart chart margin-bottom-sm">
								<canvas id="nMesAnterior"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="bar-chart block chart">
							<div class="title">
								<strong>Nº Agendamentos Ultimos Meses</strong>
							</div>
							<div class="bar-chart chart">
								<canvas id="relatorioAgendamentoSemestral"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div th:replace="fragments/modal-novo-agendamento :: modalNovoAgendamento"></div>
	</div>
	<script type="text/javascript" layout:fragment="script">
	
	$(document).ready(function() {
		$('#agendamentoSalvou').show(function() {
			Messenger().post({
				message : 'Agendamento salvo com sucesso!',
				type : 'success'
			});
		});
	});
	
	$(document).ready(function() {
		$('#agendamentoCodigoInvalido').show(function() {
			Messenger().post({
				message : 'Código de cliente inválido',
				type : 'error'
			});
		});
	});
	
	
	
	
	
	
	
	
	
	
	
	$(document).ready(function(){
		  $('#datatableAgendamento').DataTable({
			  "language": {
		            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
	        }});
		});

	$(function () {
        $('#horarioAgendamento').datetimepicker({
      	  format: 'DD-MM-YYYY HH:mm', 
      	  autoclose: true,
      	  locale: 'pt-BR',
      	  minDate: new Date()
        });
    });
	
	var BARCHARTEXMPLE    = $('#relatorioAgendamentoSemestral');
    var barChartExample = new Chart(BARCHARTEXMPLE, {
        type: 'bar',
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: 'transparent'
                    }
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: 'transparent'
                    }
                }]
            },
        },
        data: {
            labels: ["AntePenultimoMes", "Penultimo Mês", "Ultimo Mês"],
            datasets: [
                {
                    label: "Barbearia",
                    backgroundColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    hoverBackgroundColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    borderColor: [
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9",
                        "#864DD9"
                    ],
                    borderWidth: 0.5,
                    data: [65, 59, 80, 81, 56, 55, 40],
                },
                {
                    label: "Tatuagem",
                    backgroundColor: [
                        "rgba( 0, 95, 80, 0,9 )",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    hoverBackgroundColor: [
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    borderColor: [
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)",
                        "rgba(98, 98, 98, 0.5)"
                    ],
                    borderWidth: 0.5,
                    data: [35, 40, 60, 47, 100, 27, 30],
                },
                {
                    label: "Piecing",
                    backgroundColor: [
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    hoverBackgroundColor: [
                    	"#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    borderColor: [
                    	"#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF",
                        "#F0F8FF"
                    ],
                    borderWidth: 0.5,
                    data: [35, 40, 60, 47, 88, 27, 30],
                }
            ]
        }
    });
	
    //------------------------------
    
      var PIECHARTEXMPLE    = $('#nMesAnterior');
    var pieChartExample = new Chart(PIECHARTEXMPLE, {
        type: 'pie',
        options: {
            legend: {
                display: true,
                position: "left"
            }
        },
        data: {
            labels: [
                "Barbearia",
                "Tatuagem",
                "Piercing"
            ],
            datasets: [
                {
                    data: [300, 50, 100],
                    borderWidth: 0,
                    backgroundColor: [
                        '#723ac3',
                        "#864DD9",
                        "#9762e6",
                        "#a678eb"
                    ],
                    hoverBackgroundColor: [
                        '#723ac3',
                        "#864DD9",
                        "#9762e6",
                        "#a678eb"
                    ]
                }]
            }
    });
    
    
    
    
    
    
	</script>
</body>
</html>