<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Agendamento Detalhado</h2>

	<li layout:fragment="caminho">Agendamento</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button role="button" data-toggle="modal" data-target="#novoAgendamento" 
						style="background-color: transparent; border: none; cursor: pointer; overflow: hidden; outline: none;">
						<i class="material-icons" style="font-size: 44px; color: yellow	;">note_add</i></button>
					</div>
				</div>
			</div>
		</section>

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="block">
							<div class="title">
								<strong>Agendamentos</strong>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Tipo</th>
											<th>Cliente</th>
											<th>Inicio</th>
											<th>Término</th>
											<th>Status</th>
										</tr>
									</thead> 
									<tbody>
										<tr th:each="a : ${listaServico}" >
											<th scope="row" th:text="${a.id}" >1</th>
											<td th:text="${a.tipoServico}" >Tatuagem</td>
											<td th:text="${a.cliente.nome}">Breno </td>
											<td th:text="${#temporals.format(a.horarioAgendamento, 'dd-MM-yyyy  HH:mm')}">9:00 AM</td>
											<td th:text="${#temporals.format(a.horarioConclusaoAgendamento, 'dd-MM-yyyy  HH:mm')}">2</td>
											<td th:text="${a.statusAgendamento}">Ativo</td>
											<td colspan="2">
												<a th:href="@{/agendamento/editar/{id} (id=${a.id})}" role="button">
	                                				<span title="EDITAR" aria-hidden="true" style="color: white;"><i class="material-icons">style</i></span>
	                           					</a>	
	                           					<a th:href="@{/agendamento/reabrir/{id} (id=${a.id})}" role="button">
	                                				<span title="REABRIR" aria-hidden="true" style="color: yellow;" th:unless="${a.horarioConclusaoAgendamento == null}"><i class="material-icons">timer</i></span>
	                           					</a>
	                           					<a th:href="@{/agendamento/encerrar/{id} (id=${a.id})}" role="button">
	                                				<span title="ENCERRAR" aria-hidden="true" 	style="color: red;" th:if="${a.horarioConclusaoAgendamento == null}"><i class="material-icons md-48">timer_off</i></span>
	                           					</a>
	                           						
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="pie-chart chart block">
							<div class="title">
								<strong>Gráfico Agendamentos</strong>
							</div>
							<div class="pie-chart chart margin-bottom-sm">
								<canvas id="pieChartCustom1"></canvas>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="bar-chart block chart">
							<div class="title">
								<strong>Agendamentos Mês</strong>
							</div>
							<div class="bar-chart chart">
								<canvas id="barChartCustom3"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/modal-novo-agendamento :: modalNovoAgendamento"></div>
	</div>
	
</body>
</html>