<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Agendamento Detalhado</h2>

	<li layout:fragment="caminho">Agendamento</li>

	<div layout:fragment="corpo">


		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="block margin-bottom-sm">

							<div class="title">
								<strong>Buttons Teste</strong>
							</div>
							<div>
								<button class="btn btn-primary" type="button"
									data-toggle="modal" data-target="#novoAgendamento">Novo
									Agendamento</button>
								<button class="btn btn-primary" type="button"
									data-toggle="modal" data-target="#editAgendamento">Editar
									Agendamento</button>
								<button class="btn btn-danger">Listar Todos
									Agendamentos</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="col-lg-8">
				<div class="bar-chart block chart">
					<div class="title">
						<strong>Bar Chart Example</strong>
					</div>
					<div class="bar-chart chart">
						<canvas id="barChartCustom3"></canvas>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/modal-novo-agendamento :: modalNovoAgendamento"></div>


	</div>
</body>
</html>