<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Administração</h2>

	<li layout:fragment="caminho">ADM</li>

	<div layout:fragment="corpo">

		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<button class="btn btn-primary" data-target="#novoUsuario"
							data-toggle="modal">Novo usuário</button>
					</div>
				</div>
			</div>
			<br>
		</section>
		<div th:if="${salvou == true}" id="salvouUsuario"></div>
		<div th:if="${editou == true} " id="clienteEditado"></div>
		<div th:if="${deletou == true} " id="deletouUsuario"></div>
		<div th:if="${error == true} " id="error"></div>
		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8">
						<div class="block">
							<div class="title">
								<strong>Usuários</strong>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th></th>
											<th>Nome</th>
											<th>Login</th>
<!-- 											<th>Cargo</th> -->
											<th style="text-align: center">Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="u :${listaUsuarios}">
											<td>
											<a th:href="@{/adm/visualizar/{usuario-login} (usuario-login=${u.login})}"><i class="material-icons" title="Visualizar">visibility </i></a>
														</td>
											<th th:text="${u.nomeCompleto}">Gabriel Silva</th>
											<td th:text="${u.login}">gasil96</td>
<!-- 											<td th:text="${u.cargo}">Desenvolvedor</td> -->
											<td style="text-align: center">
												 <a th:href="@{/adm/excluir/{usuario-login} (usuario-login=${u.login})}" title="Excluir"><i style="color: #bb414d" class="material-icons"> delete_forever </i></a>
												 <a th:href="@{/adm/editar/{usuario-login} (usuario-login=${u.login})}" title="Alterar" ><i style="color: yellow" class="material-icons"> update </i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/modal-novo-usuario :: modalNovoUsuario"></div>
	
<!-- 	TESTE @@@@@@@@@@@@@@@@@@ TESTE @@@@@@@@@@@@@@@@@@@@@@ -->
	
		<section class="no-padding-top">
			<div class="container-fluid">
				<div class="block">
					<div class="title">
						<strong>Todos</strong>
					</div>
					<div class="block-body">
						<div class="table-responsive">
							<table id="example" class="table">
								<thead>
									<tr>
										<th></th>
										<th>Código</th>
										<th>Nome</th>
										<th>Instagram</th>
										<th>Telefone</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		
<!-- 	TESTE @@@@@@@@@@@@@@@@@@ TESTE @@@@@@@@@@@@@@@@@@@@@@ -->
	</div>
	<script type="text/javascript" layout:fragment="script">
		$(document).ready( function() {
							$('#salvouUsuario').show(function() {
								Messenger().post({
									message : 'Usuário salvo com sucesso!',
									type : 'success'
								});
							});
							$('#deletouUsuario').show(function() {
								Messenger().post({
									message : 'Usuário removido!',
									type : 'error'
								});
							});
							$('#error').show(function() {
								Messenger().post({
									message : 'Usuário inexistente !',
									type : 'error'
								});
							});

							$('#cargo')
									.change(
											function() {
												if ($('#cargo').val() == 'GERENTE') {
													var ident = 'ROLE_GERENTE';
													$(
															'select option[value="'
																	+ ident
																	+ '"]')
															.prop("selected",
																	true);
												} else if ($('#cargo').val() == 'ADMINISTRADOR') {
													var ident = 'ROLE_ADMIN';
													$(
															'select option[value="'
																	+ ident
																	+ '"]')
															.prop("selected",
																	true);
												} else if ($('#cargo').val() == 'FUNCIONARIO') {
													var ident = 'ROLE_USUARIO';
													$(
															'select option[value="'
																	+ ident
																	+ '"]')
															.prop("selected",
																	true);
												}
											});
						
		$.ajax({
			type: "GET",
			url: "/cliente/clientes",
			dataType: 'json',
			success :function(dado){
				$('#example').dataTable( {
					dom : 'lBfrtip',
					buttons : [
						{
							extend : 'excel',
							text : 'Planilha',
							className : 'btn btn-primary btn-sm',
							title : 'SpaceTattooStudio Agendamentos',
							exportOptions : {
								columns : ':visible'
							},
						},
						{
							extend : 'print',
							text : 'Impressão',
							className : 'btn btn-primary btn-sm',
							title : 'SpaceTattooStudio Agendamentos',
							exportOptions : {
								columns : ':visible'
							},
						},
						{
							extend : 'pdf',
							className : 'btn btn-primary btn-sm',
							title : 'SpaceTattooStudio Agendamentos',
							exportOptions : {
								columns : ':visible'
							},
						} ],
					language : {
						"url" : "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
					},
					data: dado,
					columns: [
						{defaultContent: "<a href='#'><i class='material-icons' title='visualizar'>visibility </i></a>"},
						{data: 'id'},
						{data: 'nome'},
						{data: 'instagram'},
						{data: "telefone"},
						{defaultContent:  "<a href='#'><i class='material-icons' style='color: white; title='editar''>update</i></a>"},
						{defaultContent:  "<a href='#'><i class='material-icons' style='color: white; title='agendar''>note_add</i></a>"},
					]
				});
			},
			error : function(e){
			alert("ocorreu um erro ao processar a tabela de clientes!");
			}
		});
			
									
		
		});

		var password = document.getElementById("password"), confirm_password = document
				.getElementById("confirm_password"), email = document
				.getElementById("email"), confirm_email = document
				.getElementById("confirm_email");

		function validatePassword() {
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Senhas não correspondem!");
			} else {
				confirm_password.setCustomValidity('');
			}
		}

		function validateEmail() {
			if (email.value != confirm_email.value) {
				confirm_email.setCustomValidity("Emails não correspondem!");
			} else {
				confirm_email.setCustomValidity('');
			}
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
		email.onchange = validateEmail;
		confirm_email.onkeyup = validateEmail;
	</script>
</body>
</html>