<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>

	<div layout:fragment="corpo">
		<div id="detalhamentoFechamento" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			class="modal fade text-left">
			<div role="document" class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<strong id="tituloModalEditarCliente" class="modal-title"
							style="color: #429244">Relatório Financeiro <span
							style="color: #ffc107">(Mês da pesquisa)</span></strong>
						<button type="button" data-dismiss="modal" aria-label="Close"
							class="close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="card-body" align="center">
								<h5 class="card-title">
									Total Arrecadado no Crédito: R$ <span th:text=${totalCredito}>0.00</span>
								</h5>
								<h5 class="card-title">
									Total Arrecadado no Débito: R$ <span th:text=${totalDebito}>0.00</span>
								</h5>
								<h5 class="card-title">
									Total Arrecadado À Vista: R$ <span th:text=${totalAvista}>0.00</span>
								</h5>
								<h5 class="card-title" style="color: #ffc107">
									Total Geral: R$ <span th:text=${totalGeral}>0.00</span>
								</h5>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					<form th:action="@{/financeiro/gerar-pdf}">
						<button data-style="zoom-in" class="btn btn-info ladda-button" type="submit"><span class="ladda-label">zoom-in</span></button>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" layout:fragment="script">
		$(document).ready(function() {
			$('#detalhamentoFechamento').modal('show');
			$('#detalhamentoFechamento').on('hide.bs.modal', function() {
				window.location.href = '/financeiro/detalhamento';
			})

			Ladda.bind('button[type=submit]', { timeout: 2000 } );
		})
	</script>
</body>
</html>