
<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div layout:fragment="corpo">
		<div class="modal fade" tabindex="-1" role="dialog"
			id="modal-alerta-email-home">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<strong class="modal-title">Atenção</strong>
						<button type="button" data-dismiss="modal" aria-label="Close"
							class="close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							Clique em <strong>Enviar</strong> para proceder com o envio do
							email de confirmação.
						</p>
						<form th:action="@{/enviar-email-alerta}" th:object="${servico}"
							method="POST">
							<div class="form-group">
								<input type="hidden" id="email" readonly="readonly"
									placeholder="Email" class="form-control"
									th:field="*{tipoServico}" required="required">
							</div>
							<div class="form-group">
								<input type="hidden" id="assunto" placeholder="Assunto"
									class="form-control" th:field="*{horarioAgendamento}"
									required="required">
							</div>
							<div class="form-group">
								<input type="hidden" id="menssagem" placeholder="Mensagem"
									class="form-control" th:field="*{categoria}"
									required="required">
							</div>
							<input type="hidden" id="id" placeholder="Mensagem"
								class="form-control" th:field="*{id}" required="required">

							<div class="form-group pull-right">
								<button class="btn btn-danger bt-sm " data-dismiss="modal">Cancelar</button>
								<button class="btn btn-primary bt-sm " type="submit">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" layout:fragment="script">
		$(document).ready(function() {
			$('#modal-alerta-email-home').modal('show');

			$('#modal-alerta-email-home').on('hide.bs.modal', function() {
				window.location.href = '/';
			});
		});
	</script>
</body>
</html>