<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>

	<div layout:fragment="corpo">
		<div id="visualizarEntradaCaixa" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			class="modal fade text-left">
			<div role="document" class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<strong id="titvuloModalNovoCliente" class="modal-title">Alterar
							Entrada</strong>
						<button type="button" data-dismiss="modal" aria-label="Close"
							class="close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:object="${entradaCaixa}">
							<div class="form-group">
								<label for="tipoServico">Serviço</label> <select
									id="selecioneSevico" class="form-control" required="required" disabled="disabled"
									th:field="*{tipoServico}">
									<option th:each="ts : ${tiposervico}" th:value="${ts}"
										th:text="${ts.tipoServico}">ATIVO</option>
								</select>
							</div>
							<div class="form-group">
								<label class="form-control-label">Descrição</label> <input disabled="disabled"
									th:field="*{descricaoCaixa}" type="text"
									placeholder="Descrição" class="form-control">
							</div>
							<div class="form-group">
								<label class="form-control-label">Horario Operação</label> <input disabled="disabled"
									th:field="*{horarioOperacao}" type="text"
									placeholder="Descrição" class="form-control">
							</div>
							<div class="form-group">
								<label class="form-control-label">Valor</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">R$</span>
									</div>
									<input id="valorEntrada" type="number" disabled="disabled"
										placeholder="Valor de entrada" required="required"
										class="form-control" min="0" max="10000" th:field="*{valor}">
								</div>
							</div>
							<div class="form-group" id="porcentagemDesconto">
								<label class="form-control-label">Aplicar Desconto</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">%</span>
									</div>
									<input id="valorDesconto" type="number" disabled="disabled"
										placeholder="Desconto aplicado" class="form-control" min="1"
										max="100" th:field="*{porcentagemDesconto}">
								</div>
							</div>
							<div class="form-group">
								<label for="tipoServico">Forma de Pagamento</label> <select disabled="disabled"
									id="selecetPagamentoEntrada" class="form-control"
									required="required" th:field="*{formaPagamento}">
									<option th:each="fp : ${formapagamento}" th:value="${fp}"
										th:text="${fp.pagamento}">ATIVO</option>
								</select>
							</div>
							<div class="form-group">
								<label>Código do cliente</label> <input type="text" disabled="disabled"
									th:field="*{cliente.nome}" class="form-control"
									id="typeaheadIdInstaNomeCliente" placeholder="">
							</div>
							<div class="form-group">
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript" layout:fragment="script">
		$(document).ready(function() {
			$('#visualizarEntradaCaixa').modal('show');
			$('#visualizarEntradaCaixa').on('hide.bs.modal', function() {
				window.location.href = '/caixa/visualizar';
			})

		});
	</script>
</body>
</html>