<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>

	<ul layout:fragment="caminho">
		<li class="breadcrumb-item"><a href="#">Testes :: valor do
				link anterior aqui </a></li>
		<li class="breadcrumb-item active">Testes :: valor da sessão
			atual aqui</li>
	</ul>

	<div layout:fragment="corpo">
		<div class="col-lg-12">
			<div class="block">
				<div class="title">
					<strong>Novo Usuários</strong>
				</div>
				<div class="block-body" id="cliente">
					<form class="form-horizontal" th:action="@{/cliente/editar}" th:object="${cliente}" method="POST">
						<div class="form-group row">
							<label for="nome">Nome</label> 
							<input type="text" class="form-control" id="nome"
								placeholder="nome primeiro e segundo" th:field="*{nome}">
							<small id="nome" class="form-text text-muted"></small>
						<input type="number" class="form-control" id="id" th:field="*{id}" placeholder="id aqui">
						
						</div>

						<button type="submit" class="btn btn-primary">Salvar</button>
					</form>
				</div>
			</div>
		</div>


	</div>
</body>
</html>