<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<footer class="footer" th:fragment="rodape">
		<div class="footer__block block no-margin-bottom">
			<div class="container-fluid text-center">
				<p class="no-margin-bottom">
					<span id="anoAtualFixado"></span> &copy; Desenvolvido por <a
						th:attr="href=${@environment.getProperty('linkFooter')}"
						style="color: #429244;">Gabriel S. Software</a> <span>Versão
						<span th:text="${@environment.getProperty('project.version')}"></span>
					</span>
				</p>
			</div>
		</div>
	</footer>
</body>
</html>