<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
       <!-- Sidebar Navigation-->
      <nav id="sidebar" th:fragment="menuLateral">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center" sec:authorize="isAuthenticated()">
            <div class="avatar"><img th:src="@{/img/favicon.ico}" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title" sec:authorize="isAuthenticated()">
            <h1 class="h5"><span sec:authentication="name" style="text-transform: uppercase"></span></h1>
          </div>
          <div class="title" sec:authorize="!isAuthenticated()">
            <h1 class="h5"><span sec:authentication="name" style="text-transform: uppercase">MODO ADMINISTRATIVO</span></h1>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
        <ul class="list-unstyled">
          <li th:class="${classActivePrincipal}"><a th:href="@{/}"><i class="icon-home"></i>Principal</a></li>
          <li sec:authorize="hasAnyRole('ADMIN')" th:class="${classActiveCaixa}"><a th:href="@{/caixa/fluxo}"><i class="icon-grid"></i>Caixa</a></li>
          <li th:class="${classActiveSubCliente}"><a th:href="@{/cliente/detalhamento}"><i class="icon icon-user"></i>Clientes</a></li>
          <li th:class="${classActiveSubAgendamento}"><a th:href="@{/agendamento/detalhamento}"><i class="icon icon-padnote"></i>Agendamentos</a></li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-chart"></i>Detalhamento</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled" >
              <li  sec:authorize="hasAnyRole('ADMIN')" th:class="${classActiveSubFinanceiro}"><a th:href="@{/financeiro/detalhamento}">Financeiro</a></li>
            </ul>
          </li>
        </ul>
        <span class="heading" sec:authorize="hasRole('ADMIN')">Extras</span>
        <ul class="list-unstyled"  >
          <li> <a th:href="@{/adm/administracao}" sec:authorize="hasRole('ADMIN')"> <i class="icon-settings"></i>Administração</a></li>
        </ul>
      </nav>
</body>
</html>