<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
       <!-- Sidebar Navigation-->
      <nav id="sidebar" th:fragment="menuLateral">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Menu</span>
        <ul class="list-unstyled">
          <li th:class="${classActivePrincipal}"><a th:href="@{/}"><i class="icon-home"></i>Principal</a></li>
          <li th:class="${classActiveCaixa}"><a th:href="@{/caixa}"><i class="icon-grid"></i>Caixa</a></li>
          <li th:class="${classActiveCliente}"><a th:href="@{/cliente/cadastrar}"><i class="icon icon-presentation"></i>Promocional</a></li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-chart"></i>Detalhamento</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled">
              <li th:class="${classActiveSubCliente}"><a th:href="@{/cliente}">Clientes</a></li>
              <li th:class="${classActiveSubAgendamento}"><a th:href="@{/servico}">Agendamentos</a></li>
              <li th:class="${classActiveSubFinanceiro}"><a th:href="@{/financeiro}">Financeiro</a></li>
            </ul>
          </li>
        </ul><span class="heading">Extras</span>
        <ul class="list-unstyled">
          <li> <a th:href="@{/#}"> <i class="icon-settings"></i>Administração</a></li>
        </ul>
      </nav>
</body>
</html>