<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<div layout:fragment="titulosubCabecalho">
		<h2 class="h5 no-margin-bottom">Dashboard</h2>
	</div>
	<li layout:fragment="caminho" hidden></li>

	<div layout:fragment="corpo">
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="block">
							<input class="form-control" id="consultaCadastroCliente"
								placeholder="Consulte se o cliente possui cadastro">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="no-padding-top no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="statistic-block block">
							<div
								class="progress-details d-flex align-items-end justify-content-between">
								<div class="title">
									<a data-toggle="modal" href="#" data-target="#novoCliente">
										<i class="material-icons md-48 adicionar"
										style="font-size: 45px"> group_add </i>
									</a> <strong><a href="/cliente/detalhamento">Total de
											clientes</a></strong>
								</div>
								<div class="number dashtext-4" th:text="${totalClientes}">253</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="statistic-block block">
							<div
								class="progress-details d-flex align-items-end justify-content-between">
								<div class="title">
									<div>
										<div>
											<a data-toggle="modal" data-target="#novoAgendamento"
												href="#"> <i class="material-icons adicionar"
												style="font-size: 40px"> post_add </i>
											</a>
										</div>
									</div>
									<strong><a title="7 Dias"
										href="/agendamento/detalhamento" style="color: #8A8D93">Agendamentos
											próximos dias</a></strong>
								</div>
								<div class="number dashtext-2"
									th:text="${totalAgendamentosSemana}">57</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4" th:each="pa :${proximosAgendamentos}">
						<div class="user-block block text-center">
							<h2 style="color: #429244"
								th:text="${#temporals.format(pa.horarioAgendamento, ' 	dd/MM HH:mm')}">09:00
								AM</h2>
							<h2 style="text-decoration: line-through; color: red"
								th:if="${pa.horarioConclusaoAgendamento}">ENCERRADO</h2>
							<strong class="h5" th:text="${pa.cliente.nome}">Gabriel
								Silva</strong> <br> <span th:text="${pa.cliente.instagram}">@gasil96
							</span>
							<div align="right"></div>
							<div class="contributions" th:text="${pa.tipoServico}"
								data-toggle="popover" title="dados" data-placement="bottom"
								data-container="body"
								th:attr="data-content=${#strings.concat(
	                                    	'Telefone Cliente: ', pa.cliente.telefone, '
	                                    	',
	                                    	'Categoria: ' , pa.categoria
	                                    )}">TATTOO</div>
							<a
								th:attr="href=${#strings.concat(#strings.replace(#strings.replace(#strings.replace
											(#strings.replace('https://wa.me/55' + pa.cliente.telefone, '(',''), ')',''),'-',''),' ','')
											+'?text= Olá ' + pa.cliente.nome+ ' aqui é do Space Tattoo Studio gostaríamos da sua confirmação para a seu agendamento de *'
											+pa.tipoServico+'* marcado para esta '+ 
											#temporals.dayOfWeekName(pa.horarioAgendamento)+' às '+#temporals.format(pa.horarioAgendamento,  'HH:mm'))}"
								target="_blank" class="user-title"><i class="material-icons adicionar"
								title="enviar alerta">
									mobile_screen_share </i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="block">
							<div class="title" style="text-align: center;">
								<strong>Calendário Geral</strong>
							</div>
							<div id="calendarioGeral"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br />
		<section>

			<span id="mensagem"></span>
		</section>

		<div th:replace="fragments/modal-novo-cliente :: modalNovoCliente"></div>
		<div
			th:replace="fragments/modal-novo-agendamento :: modalNovoAgendamento"></div>
	</div>

	<script type="text/javascript" layout:fragment="script">
		var $loading = $("#divCorpo").fadeOut(0);
		$(document).ajaxStart(function () {
		    $loading.show();
		  }).ajaxStop(function () {
			$loading.fadeOut();
		  });
	$(function() {
			$('#horarioAgendamento').datetimepicker({
				format : 'DD-MM-YYYY HH:mm',
				autoclose : true,
				locale : 'pt-BR',
				minDate : new Date()
			});
		});

		var todayDate = moment().startOf('day');
		var YM = todayDate.format('YYYY-MM');
		var YESTERDAY = todayDate.clone().subtract(1, 'day').format(
				'YYYY-MM-DD');
		var TODAY = todayDate.format('YYYY-MM-DD');
		var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

		$(document).ready(function() {
			$.ajax({
				type : "GET",
				url : "/calendario",
				dataType : 'json',
				success : function(data) {
					var jsonOk = JSON.stringify(data);
					$('#calendarioGeral').fullCalendar({
						header : {
							right : 'title',
							left : 'prev,next,today'
						},
						footer : {
							left : 'month,agendaWeek,agendaDay'
						},
						themeSystem : 'bootstrap4',
						titleFormat : 'MM/YYYY',
						eventClick : function(data) {
							Messenger().post({
								message : 'CATEGORIA: ' + data.categoria + '!',
								type : 'info'
							});
						},
						eventSources : [ {
							url : '/calendario'
						} ]
					});

				},
				error : function(e) {
					alert("Ocorreu um erro ao buscar os eventos!");
				},
			});

		});
	</script>
</body>
</html>