<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<meta charset="UTF-8" />
<body>
	<div class="container">
		<fieldset>
				<table class="table table-hover">
				<thead>
					<tr><td>NOME_CLIENTE</td>
						<td>SITUACAO_CLIENTE</td>
						<td>TIPO_SERVICO</td>
						<td>STATUS_AGENDAMENTO</td>
						<td>DATA_AGENDAMENTO</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s : ${lista2}">
						<td th:text="${s.cliente.nome}">-</td>
						<td th:text="${s.cliente.statusCliente}">-</td>
						<td th:text="${s.tipoServico}">-</td>
						<td th:text="${s.statusAgendamento}">-</td>
						<td th:text="${#temporals.format(s.horarioAgendamento, 'dd-MM-yyyy')}">-</td>
					</tr>
				</tbody>
				
			</table>
			
			
			
			
		</fieldset>
	</div>
</body>
</html>