<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>

	<ul layout:fragment="caminho">
		<li class="breadcrumb-item"><a href="#">Testes :: valor do
				link anterior aqui </a></li>
		<li class="breadcrumb-item active">Testes :: valor da sessão
			atual aqui</li>
	</ul>

	<div layout:fragment="corpo">

		<div class="col-lg-12">
			<div class="block">
				<div class="title">
					<strong>Modal Form</strong>
				</div>
				<div class="block-body text-center">
					<button type="button" data-toggle="modal" data-target="#myModal"
						class="btn btn-primary">Form in simple modal</button>
					<!-- Modal-->

					<!-- 					<div id="modalNovoCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left" th:fragment="modalNovoCliente"> -->


					<div id="myModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true"
						class="modal fade text-left">
						<div role="document" class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<strong id="tituloModalNovoCliente" class="modal-title">Novo Cliente</strong>
									<button type="button" data-dismiss="modal" aria-label="Close"
										class="close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<label>Nome</label> <input type="text"
												placeholder="Digite o nome" class="form-control"
												required="required">
										</div>
										<div class="form-group">
											<label>Telefone</label> <input type="text"
												placeholder="Digite o telefone" class="form-control">
										</div>
										<div class="form-group">
											<label>Instagram</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">@</span>
												</div>
												<input type="text" placeholder="Digite o Instagram"
													class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label>Selecione o Status do Cliente</label> <select
												name="account" class="form-control">
												<option>ATIVO</option>
												<option>INATIVO</option>
												<option>INADIPLEMTE</option>
											</select>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" data-dismiss="modal"
										class="btn btn-secondary">Cancelar</button>
									<button type="button" class="btn btn-primary">Confirmar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>