<!DOCTYPE html>
<html layout:decorate="~{layout-principal}">
<head>
<meta charset="UTF-8" />
<body>
	<h2 layout:fragment="titulosubCabecalho">Controle Caixa Diário</h2>

	<li layout:fragment="caminho">Caixa</li>

	<div layout:fragment="corpo">

		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="stats-2-block block d-flex">
							<div class="stats-2 d-flex">
								<div class="stats-2-arrow height">
									<i class="fa fa-caret-up"></i>
								</div>
								<div class="stats-2-content">
									<strong class="d-block">R$<strong
										th:text="${totalEntradaDiario}">758.00</strong></strong> <span
										class="d-block">Entrada</span>
								</div>
							</div>
							<div class="stats-2 d-flex">
								<div class="stats-2-arrow low">
									<i class="fa fa-caret-down"></i>
								</div>
								<div class="stats-2-content">
									<strong class="d-block">R$<strong
										th:text=${totalSaidaDiario}>758.00</strong></strong> <span
										class="d-block">Saída</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="stats-2-block block d-flex">
							<div class="stats-2 d-flex">
								<div th:if="${saldoTotalDiario >= 0}">
									<div class="stats-2-arrow height">
										<i class="fa fa-caret-up"></i>
									</div>
								</div>
								<div th:unless="${saldoTotalDiario >= 0}">
									<div class="stats-2-arrow low">
										<i class="fa fa-caret-down"></i>
									</div>
								</div>
								<div class="stats-2-content">
									<strong class="d-block">R$ <strong
										th:text="${saldoTotalDiario}">3145.00</strong></strong><span
										class="d-block">Saldo Atual</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="block">
							<div class="title">
								<strong class="d-block" style="color: #429244">Entrada</strong>
								<span class="d-block">Lorem	ipsum dolor sit amet consectetur.</span>
							</div>
							<div class="block-body">
								<form th:action="@{/caixa/salvar-entrada}" th:object="${entradaCaixa}" method="POST">
								<div class="form-group">
										<label for="tipoServico">Serviço</label>
										 <select id="selecioneSevico" class="form-control" required="required" th:field="*{tipoServico}">
											<option th:each="ts : ${tiposervico}" th:value="${ts}"
												th:text="${ts.tipoServico}">ATIVO</option>
										</select>
									</div>
									<div class="form-group">
										<label class="form-control-label">Descrição</label> <input th:field="*{descricaoCaixa}"
											type="text" placeholder="Descrição" class="form-control">
									</div>
									<div class="form-group">
									<label class="form-control-label">Valor</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">R$</span>
											</div>
											<input id="valorEntrada" type="number" placeholder="Valor de entrada" required="required" class="form-control" min="0" max="10000" th:field="*{valor}">
										</div>
									</div>
									<div class="form-group" id="porcentagemDesconto" >
									<label class="form-control-label">Aplicar Desconto</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">%</span>
											</div>
											<input id="valorDesconto" type="number" placeholder="Desconto aplicado" class="form-control" min="1" max="100" th:field="*{porcentagemDesconto}">
											<div class="input-group-append">
												<button id="calcularDesconto" type="button" class="btn btn-info">Simular</button>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="tipoServico">Forma de Pagamento</label>
										 <select id="selecetPagamentoEntrada" class="form-control" required="required" th:field="*{formaPagamento}">
											<option th:each="fp : ${formapagamento}" th:value="${fp}"
												th:text="${fp.pagamento}">ATIVO</option>
										</select>
									</div>
									<div class="form-group">
										<label>Código do cliente</label> <input type="text" th:field="*{cliente.id}"
											class="form-control" id="typeaheadIdInstaNomeCliente"
											placeholder="">
									</div>	
									<div class="form-group">
										<button type="reset" class="btn btn-light">Limpar</button>
										<button type="submit" class="btn btn-primary">Salvar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block">
							<div class="title">
								<strong class="d-block" style="color: #dc3545">Saída</strong>
								<span class="d-block">Lorem	ipsum dolor sit amet consectetur.</span>
							</div>
							<div class="block-body">
								<form th:action="@{/caixa/salvar-saida}" th:object="${saidaCaixa}" method="POST">
									<div class="form-group">
										<label class="form-control-label">Descrição</label> <input th:field="*{descricao}"
											type="text" placeholder="Descrição" class="form-control">
									</div>
									<div class="form-group" id="valorSaida" >
									<label class="form-control-label">Valor</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">R$</span>
											</div>
											<input type="number" placeholder="Valor de saída" class="form-control" min="0" max="10000" required="required" th:field=*{valor}>
										</div>
									</div>
									<div class="form-group">
										<label for="tipoServico">Forma de Pagamento</label>
										 <select id="selectPagamentoSaida" class="form-control" required="required" th:field="*{formaPagamento}">
											<option th:each="fp : ${formapagamento}" th:value="${fp}"
												th:text="${fp.pagamento}">ATIVO</option>
										</select>
									</div>
									<div class="form-group">
										<button type="reset" class="btn btn-light">Limpar</button>
										<button type="submit" class="btn btn-primary">Salvar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" layout:fragment="script">
	$(document).ready(function(){
		$("#calcularDesconto").click(function(){
			var desconto = (($("#valorEntrada").val()*$("#valorDesconto").val())/100);
			var valorComDesconto = $("#valorEntrada").val() - desconto;
			Messenger().post({
				message : "Valor com Desconto: R$ " + valorComDesconto,
				type : 'success'
			});	
			Messenger().post({
				message : "Desconto Aplicado: R$ "+ desconto,
				type : 'info'
			});	
		});
	});			
	</script>
</body>
</html>